*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    font-size: 20px;
}

/*NAV*/
.nav{
    padding: 24px;
    text-align: center;
    font-family: Raleway;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    background: rgba(230, 179, 112, 1);
    position: relative;
}
.nav a
{
    transition: 0.4s;
    color: #ffffff;
    text-decoration: none;
    padding: 0 10px;
    margin: 0 10px;
}
.nav a:hover {
    background-color: rgba(255, 179, 68, 1);
    color: rgb(245, 245, 245);
    padding: 24px 10px;
}
.image
{
    display: block;
    margin: auto;
    width: 350px;
    height: 350px;
    border-radius: 200px;
  
}
/* #contenido
{
    background: #febd59;
} */
footer{
    text-align: center;
    width: 100%;
    padding: 15px 0px;
    background:  rgba(230, 179, 112, 1);
    bottom: 0;
    position: fixed;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    color: white;
}
#informacion{
    margin-bottom: 5%;
}

#contenido{
    padding: 2%;
}
@media (max-width: 480px){
    body{
        font-size: 18px;
    }

    .nav {
        transition: 0.4s;
        color: #ffffff;
        text-decoration: none;
        padding:  10px 50px 20px;
        margin: 0 5px;
    }
    
    .nav:hover {
        background-color: #ffffff;
        color:  rgba(49, 107, 131, 1);
        padding: 24px 10px;
    }
    .image
{
    display: block;
    margin: auto;
    width: 250px;
    height: 250px;
    border-radius: 150px;
  
}
}